.cardContainer{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  margin-top: 50px;
  padding: 0 100px;
  margin-bottom: 30px;
}

/* For tablet screens */
@media screen and (max-width: 1024px) {
  .cardContainer {
    grid-template-columns: auto auto;
    padding: 0 50px;
  }
}

/* For mobile screens */
@media screen and (max-width: 768px) {
  .cardContainer {
    grid-template-columns: auto;
    padding: 0 30px;
  }
}
